body{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#flex-container{
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    width: 600px;
    height: 600px;
}

.row-container{
    display: flex;
    flex: 1;
}

.square{
    flex: 1;
}

#new-grid{
    margin:10px;
}